<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="scroll"><p class="sidebox">
        <% @users.each do |user| %>
        <ul class="list-unstyled">
          <li><h3 class="sidename"><%= user.name %></h3></li>
          <img class="sideimg" src="<%= user.avatar %>">
          <% if user.skill == nil %>
          <% user.skill = 1 %>
          <% end %>
          <li><h4 class="level">Level </h4> <p class="skills"><%= user.skill %></p></li>
          <li><h4 class="topgamelist"> Top Game </h4>
            <%= link_to(image_tag("#{user.topgame.downcase.delete(":/\\- ")}.png", :alt => "logo", :title => "Home", :class => "logoimg"), "/games/#{$GAME_DROPDOWN.flatten.index(user.topgame)}") %></li>
          <% end %>
        </ul>
      </p></div>
    </div>
    <div class="col-sm-4">
      <div class="twitchplayer">
        <h2><img class="logo" src="<%= @logo %>"></h2>
        <iframe id="<%= @game[:id] %>" type="text/html" width="400px" height="300px"
        src="http://www.twitch.tv/<%= @game[:link] %>/embed"
        frameborder="0"></iframe>
        <h4 class="user">User: <%= @game[:link] %>   <strong class="views">viewers: <%= @game[:viewers] %></strong></h4>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="profile">
        <h4 class="levelhome">Level</h4>
        <% if current_user.skill == nil %>
          <% current_user.skill = 1 %>
          <% end %>
        <p class="skillsuser"><%= current_user.skill %></p>
        <h5 class="userpro"><i class="fa fa-user uone"></i><%= current_user.name %></h5>
        <div class="profilepic"><img class="profilepic" src="<%= current_user.avatar.url.to_s %>"></div>
        <h5 class="useroptions">friends</h5>
        <h5 class="useroptions">games</h5>
        <h5 class="useroptions">messages</h5>
        <ul class="list-inline">
          <% if @games.length >= 2 %>
          <% @games.each do |game| %>
          <li><%= link_to(image_tag("#{game.game.downcase.delete(":/\\- ")}.png", :alt => "logo", :title => "Home", :class => "logoimg2"), "/games/#{$GAME_DROPDOWN.flatten.index(game.game)}") %></li>
          <% end %>
        <% end %>
        <li><%= link_to(image_tag("#{current_user.topgame.downcase.delete(":/\\- ")}.png", :alt => "logo", :title => "Home", :class => "logoimg2"), "/games/#{$GAME_DROPDOWN.flatten.index(current_user.topgame)}") %></li>
        </ul>
      </div>
    </div>
  </div>
</div>