<div class="container-fluid">
	<div class="row">
    <div class="col-sm-4">
<div class="scroll"><p class="sidebox">You can use the overflow property when you want to have better control of the layout. The default value is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, accusantium officiis blanditiis dolorum sapiente hic iure, perferendis minus et laudantium beatae natus illo! Ad aliquam natus ducimus voluptate, fugiat Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias doloremque perspiciatis nam atque, sapiente error libero quaerat veniam expedita accusantium delectus at pariatur blanditiis commodi dolorum, distinctio modi aspernatur, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam cumque laborum deserunt ea. Iste laboriosam quod mollitia hic perspiciatis ipsam culpa molestias! Repellat amet voluptates natus, iure ab tempora, delectus?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident ipsa culpa optio harum suscipit omnis nihil cum necessitatibus exercitationem assumenda dolores maxime sint, laboriosam quas repudiandae nam, mollitia minus placeat.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, cum consectetur dolores, corrupti, voluptatum amet aspernatur necessitatibus animi dicta repellendus unde voluptatibus impedit accusamus voluptates quo! Odio atque fugit nam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugit deserunt nulla unde dicta quis mollitia debitis beatae, ipsa id in hic laudantium inventore, perferendis dolore, eos, sequi blanditiis nam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius nihil non minima nulla consequuntur, dignissimos accusantium corrupti vel necessitatibus quidem corporis eaque in nam, veniam adipisci sunt repellat iusto autem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla tempore dicta nobis quam, obcaecati id vero iste cumque unde numquam, corporis repudiandae quidem nam laboriosam exercitationem. Sequi, nesciunt sed. Veritatis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi, laudantium. Sed est, voluptatum eos? Iusto eligendi aut sequi numquam! Vel cupiditate corporis adipisci ut et voluptates. Maiores, dolor, quasi.</p></div>      
    </div>
    <div class="col-sm-4">
		<div class="twitchplayer">
      <h2><img class="logo" src="<%= @logo %>"></h2>
<iframe id="<%= @id %>" type="text/html" width="400px" height="300px"
  src="http://www.twitch.tv/<%= @channel %>/embed"
  frameborder="0"></iframe>
  <h4 class="user">User: <%= @channel %>   <strong class="views">viewers: <%= @views %></strong></h4>
  		</div>
      </div>
      <div class="col-sm-4">
  			<div class="profile">
          <h5 class="userpro"><i class="fa fa-user uone"></i><%= current_user.name %></h5>
          <div class="profilepic"><img class="profilepic" src="<%= current_user.avatar.url.to_s %>"></div>
  				<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <%= link_to "settings", edit_user_registration_path, :method => :get %>
  			</div>
        </div>


	</div>

</div>