<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="scroll"><p class="sidebox">
        <% @users.each do |user| %>
        <ul class="list-unstyled">
          <li><h3 class="sidename"><%= user.name %></h3></li>
          <img class="sideimg" src="<%= user.avatar %>">
          <% if user.skill == nil %>
          <% user.skill = 1 %>
          <% end %>
          <li><h4 class="level">Level </h4> <p class="skills"><%= user.skill %></p></li>
          <li><h4 class="topgamelist"> Top Game </h4>
            <%= link_to(image_tag("#{user.topgame.split(" ").join("").downcase.delete(":")}.png", :alt => "logo", :title => "Home", :class => "logoimg"), "/") %></li>
          <% end %>
        </ul>
      </p></div>
    </div>
    <div class="col-sm-4">
      <div class="twitchplayer">
        <h2><img class="logo" src="<%= @logo %>"></h2>
        <iframe id="<%= @game[:id] %>" type="text/html" width="400px" height="300px"
        src="http://www.twitch.tv/<%= @game[:link] %>/embed"
        frameborder="0"></iframe>
        <h4 class="user">User: <%= @game[:link] %>   <strong class="views">viewers: <%= @game[:viewers] %></strong></h4>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="profile">
        <h5 class="userpro"><i class="fa fa-user uone"></i><%= current_user.name %></h5>
        <div class="profilepic"><img class="profilepic" src="<%= current_user.avatar.url.to_s %>"></div>
        <h5 class="settings"><%= link_to "settings", edit_user_registration_path, :method => :get %></h5>
      </div>
    </div>
  </div>
</div>