<%= form_for @games do |f| %>
<div class="gameaddbox">
  <h3 class="gamesheader"><%= f.label :Games %></h3>
  <div class="dropdown"><%= f.select(:game, $GAME_DROPDOWN.sort) %></div>
  <br>
  <h3 class="gamesheader2"><%= f.label :Gamer_Tag %></h3>
  <div class="usernametag"><%= f.text_field :username %></div>
  <br>
  <%= f.submit "Add Game" %>
</div>
<% end %>